<p id="notice"><%= notice %></p>

<h1>Seats</h1>

<table>
  <thead>
  <tr>
    <th>Number</th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>
    <%= render @seats %>
  </tbody>
</table>

<br>

<%= link_to 'New Seat', new_seat_path %>
